 <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, class: name %>
 <% end %>


<div class="new-restaurants">
	<h2>Find Restaurant</h2>

	<%= form_tag add_restaurants_path, method: 'get' do %>
		<p>
			<%= text_field_tag :search  %>
		</p>
		<%= submit_tag "Search", :name => nil %>
	<% end %>

	<% if @new_restaurants %>
		<% for new_restaurant in @new_restaurants %>
			<li>
				<%= new_restaurant.name %> |
				<%= new_restaurant.location['address'] %> <%= new_restaurant.location['city'] %>, <%= new_restaurant.location['state'] %>  | 
				<%= link_to "Select Restaurant", new_restaurant_path(name: new_restaurant.name, location: new_restaurant.location, foursquare_id: new_restaurant.foursquare_id) %>
			 </li>
		<% end %>
	<% end %>

	<% unless @lat_lng %>
	<script>
		testMe.getLocation();
	</script>
	<% end %>
</div>